<h1><%= @chat.title %> Chatroom</h1>

<ul id="chat">
  <%= render @messages %>
</ul>

<%= render partial: 'messages/form', locals: {chat_id: @chat.id.to_s} %>

<!-- Subscribe to current chatroom -->
<!-- Will receive messages that are published to this chatroom -->
<%= subscribe_to chat_path(@chat) %>
